{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>About us.</h1><br/>
        <p>
            Smiling is a simple act that means so much to the person given but so little to the person giving it out. It
            only takes a split second to smile and forget, yet to someone that needed it, it can last a lifetime. We
            should
            all smile more often. What sunshine is to flowers, smiles are to humanity. These are but trifles, to be sure
            but
            scattered along life's pathway; the good they do is inconceivable. Many see no reason why they should smile
            when
            they consider what is obtainable around them. The environment cum prevailing circumstances do not warrant
            the
            free expressions of a smile, they reason.
        </p>
        <p>
            One smile can make all the difference in the world. One smile has the power to release stress, calm you
            down, make you attractive, make someone else happy and believe it or not, smiling can actually cause
            happiness.
        </p>
        <p>
            Stress is hazardous to your health! When you let your stress levels continually increase without doing
            anything to prevent it, you will eventually breakdown. And when you do eventually breakdown, it will take
            you a long time to put yourself back together again. However, a smile is the cheapest and fastest cure. When
            you feel stressed, just take a minute or two to breathe in and out and smile. There is always something to
            smile about in life.
        </p>

    </div>
</div>
{% endblock %}